	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="./main.html">The Flying Dutchman</a>
		</div>

		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="home"><a class="t-home" href="./main.html">Home</a></li>
				<li class="order"><a class="t-order" href="./orderBeer.html">Order</a></li>
				<li class="btender"><a class="t-btender" href="./btendermode.html">Bar Tender</a></li>
			</ul>
			<ul id="signin" class="nav navbar-nav pull-right">
				<li><img class="flag sv" src="../Resources/Sweden.png"></li>
				<li><img class="flag uk" src="../Resources/UK.png"></li>
				<li class="button-1 sign-up"><a class="t-signup" href="./signin.html"> Sign Up</a></li>
				<li class="button-2 sign-in"><a class="t-signin" href="./signin.html"> Sign In</a></li>
			</ul>
		</div>
	</div>