
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../Resources/favicon.ico">

	<title>The Flying Dutchman</title>

	<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../Styles/additional.css">
	<link rel="stylesheet" type="text/css" href="../Styles/profile.css">

	<link rel="import" id="header" href="navbar.html">

</head>

<body>

	<nav class="navbar navbar-inverse">

	</nav>

	<div class="container text-center">
		<row>
			<div class="col-lg-3 col-lg-offset-1 text-left">
				<image class="avatar" src="../Resources/pirate.png">
					<label class="userid"></label>
					<label class="username"></label>
					<hr>
					<label class="credit t-credit">Your Credit: </label><label class='credit credit-amount'></label>
					<hr>
				</div>
				<div class="col-lg-7 text-left">
					<ul class="nav nav-tabs">
						<li class="purchases-tab active"><a class="t-purchases" href="#">Your Purchases</a></li>
						<li class="payments-tab"><a class="t-payments" href="#">Your Payments</a></li>
					</ul>
					<div class="purchases-container">
						<table class="table table-striped">
							<thead>
								<tr>
									<th class="t-name">Name</th>
									<th class="t-name2">Name 2</th>
									<th class="t-trans">Transaction ID</th>
									<th class="t-beerid">Beer ID</th>
									<th>Time Stamp</th>
									<th class="t-price">Price</th>
								</tr>
							</thead>
							<tbody class="purchases-tbody">

							</tbody>
						</table>
					</div>
					<div class="payments-container">
						<table class="table table-striped">
							<thead>
								<tr>
									<th class="t-trans">Transaction ID</th>
									<th>Time Stamp</th>
									<th class="t-amount">Amount</th>
								</tr>
							</thead>
							<tbody class="payments-tbody">

							</tbody>
						</table>
					</div>
				</div>
			</row>
		</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../Scripts/jquery.js"></script>
    <script src="../bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="../Scripts/Controllers/navbarController.js"></script>
    <script type="text/javascript" src="../Scripts/Controllers/profileController.js"></script>
    <script type="text/javascript" src="../Scripts/Controllers/languageTranslator.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <script type="text/javascript">
    	var getImportHeader = document.querySelector('#header');
    	var getContentHeader = getImportHeader.import.querySelector('.container');
    	document.querySelector('.navbar').appendChild(document.importNode(getContentHeader, true));
    	$('.button-1').addClass('active');
    </script>
</body>
</html>
