
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../Resources/favicon.ico">

	<title>The Flying Dutchman</title>

	<link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../Styles/additional.css">
	<link rel="stylesheet" type="text/css" href="../Styles/signin.css">

	<link rel="import" id="header" href="navbar.html">

</head>

<body>

	<nav class="navbar navbar-inverse">

	</nav>

	<br>

	<div class="container">
		<div class="row text-center">
			<div class="row text-center">
				<div class="form-group form-signin col-lg-4 col-lg-offset-4">
					<h2 class="signin-welcome">Sign In</h2>
					<input id="signin-id" type="text" class="form-control input-field" placeholder="username">
					<input id="signin-password" type="password" class="form-control input-field" placeholder="password">
					<div class="row text-center signin-button-row">
						<p id="warning-msg"></p>
						<div class="col-lg-12">
							<a href="#" class="btn btn-primary btn-full btn-signin">Sign In</a>
						</div>
						<div class="col-lg-12">
							<label>Do not have an account?</label>
							<a href="#">Sign Up</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../Scripts/jquery.js"></script>
    <script type="text/javascript" src="../Scripts/Controllers/signInController.js"></script>
    <script src="../bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="../Scripts/Controllers/navbarController.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <script type="text/javascript">
        var getImportHeader = document.querySelector('#header');
        var getContentHeader = getImportHeader.import.querySelector('.container');
        document.querySelector('.navbar').appendChild(document.importNode(getContentHeader, true));
        $('.button-2').addClass('active');
    </script>
</body>
</html>
