
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../Resources/favicon.ico">

    <title>The Flying Dutchman</title>

    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../Styles/additional.css">



  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./main.html">The Flying Dutchman</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="./main.html">Home</a></li>
            <li><a href="./orderBeer.html">Order</a></li>
            <li><a href="./btendermode.html">BTender Mode</a></li>
          </ul>
          <ul id="signin" class="nav navbar-nav pull-right">
            <li class="active"><a href="./signin.html"><span class="glyphicon glyphicon-user"></span> Sign In</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <br>

    <div class="container">
        <div class="row text-center">
          <h2>Sign In</h2>
          <br>
        <form class="form-signin col-lg-4 col-lg-offset-4">
          <input type="string" class="form-control input-field" placeholder="Username">
          <input type="password" class="form-control input-field" placeholder="Password">
          <br>
        <button class="btn btn-lg btn-primary btn-block submit-btn" type="submit">
          Sign In
        </button>
      </form>
    </div>
    </div>










    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../Scripts/jquery.js"></script>
    <script type="text/javascript" src="../Scripts/api.js"></script>
    <script src="../bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="../Scripts/out_of_stock.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
